body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
    padding: 0;
    background-color: white;
    color: black;
}

nav {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to the nearest item in the horizontal axis */
}

nav a {
    font-size: 16px;
    padding: 10px 20px;
    background-color: darkorange;
    border: 1px solid orange;
    border-radius: 8px;
    color: black;
    text-align: center;
    margin-right: 5px; /* Add some space between items */
    scroll-snap-align: start; /* Ensure each item snaps to the start of the scroll container */
}

nav a:focus {
    background: black;
}

header h1 {
    color: green;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    nav {
        background: green;
        border: solid 6px green;
    }
    nav a {
        color: #fff;
    }
}

.current {
    font-size: 22px;
    font-weight: bold;
    border-radius: 2px solid orange;
    position: relative;
}

.current::before {
    content: "\2667";
    margin-right: 5px;
}
