body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
    padding: 0;
    background-color: white;
    color: black;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-size: 16px; /* Adjusted font size for better readability on mobile */
    padding: 10px 20px; /* Reduced padding for better spacing on mobile */
    background-color: darkorange;
    border: 1px solid orange;
    border-radius: 8px; /* Reduced border radius for a more modern look */
    color: black;
    text-align: center;
    margin: 5px; /* Adjusted margin for better spacing on mobile */
}

nav a:focus {
    background: black;
}

header h1 {
    color: green;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    nav {
        background: green;
        border: solid 6px green;
    }
    nav a {
        color: #fff;
    }
}

.current {
    font-size: 22px; /* Adjusted font size for the current page link */
    font-weight: bold;
    border-radius: 2px solid orange;
    position: relative;
}

.current::before {
    content: "\2667";
    margin-right: 5px;
}
