body{
    font-family: Georgia, 'Times New Roman', Times, serif, fantasy;
    margin: 30;
    padding: 0;
    background-color: white;
    color: black;
    margin: 15px;
}

nav{
    width: auto;
    margin: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
nav a{
    text-size-adjust: 100%;
    padding: 20px;
    border: solid orange 1px;
    color-scheme: dark;
    border-radius: 15%;
    color: black;
    text-align: center;
}

nav a:focus{
    background: black
}

header h1 {
    color: green;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#skip:focus{
    left: 100px;
    padding: 5px;
    border: 2px;
    transition: 1s;
}

html{
    scroll-behavior: smooth;
}

#skip{
    position: relative;
    left: -500px;
}


@media (prefers-reduced-motion: reduce) {
    html {
      		scroll-behavior: auto; /* Disable smooth scrolling */
    }

    *{
        	transition: 0s !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    nav {
        background: green;
        border: solid 6px green;

       }
        nav a {
               color: #fff;
    }
}

.image-grid {
    display: grid;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.image-grid img {
    border-color: orange;
    background-size: contain;
    border: solid 2px white;
    width: 50%;
    border-radius: 100px;
}

@media screen and (min-width: 760px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
  }
}

video {
    width: 50;
    margin: 5;
    border: 5px solid black;
    display: block;
}

